@import "../../mixins";

.candidate {
  .heading {
    @include d-flex(row, space-between, center);
    width: 100%;
  }
}
.btns {
  @include d-flex(row, space-around, center);
  width: 100%;
}
.add-candidate {
  @include d-flex(column, flex-start, center);
  width: 500px;
  max-width: 100%;
  gap: 10px;

  * {
    color: var(--text-color1);
  }
}
